*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/040/890/255/non_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.clock{
    font-size: 6.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    backdrop-filter: blur(5px);
    padding: 15px 70px;
    border-radius: 10px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .clock {
        font-size: 5rem;
        padding: 12px 50px;
    }
}

@media screen and (max-width: 480px) {
    .clock {
        font-size: 3.5rem;
        padding: 10px 30px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 320px) {
    .clock {
        font-size: 2.5rem;
        padding: 8px 20px;
    }
}